<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body style="background-color: #45B39D;">
        <h1 style="font-family:verdana;">Tweet Chatbot Analyzer</h1>
        <div>
            <div id="chatbox" style="border-radius: 15px;width:70%;">
                <p class="botText"><span>Hi! I'm tweet analyzer for emotions and typos. type in a tweet....</span></p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">

            </div>
            <div align="center">
                <br><br><br><br>
                <input id="stats" type="submit" value="Stats">
                <br><br>
            </div>
            <script>

            function getBotResponse() {
                var rawText = $("#textInput").val();
                if (rawText == "clear") {
                    document.getElementById("chatbox").innerHTML = '';
                    $("#textInput").val("");
                } else {
                    var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    $.get("/get", { msg: rawText }).done(function(data) {
                        var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                        $("#chatbox").append(botHtml);
                        document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    });
                }

            }

            $("#textInput").keypress(function(e) {
                if(e.which == 13) {
                    getBotResponse();
                }
            });

            $("#buttonInput").click(function() {
                getBotResponse();
            });

            $("#stats").click(function() {
                window.location.replace("/stats_view");
            });

            </script>
        </div>
    </body>
</html>